@import "~bootstrap/scss/bootstrap.scss";

body {
  background-image: linear-gradient(45deg, transparent 20%, black 25%, transparent 30%), 
                    linear-gradient(-45deg, transparent 20%, black 25%, transparent 25%), 
                    linear-gradient(-45deg, transparent 75%, black 80%, transparent 0),
                    radial-gradient(gray 1px, transparent 0);
  background-size: 30px 30px, 30px 30px;
}
.hide {
  visibility: hidden;
}
.myLi:hover{
.hide {
  visibility: visible;
  color: red;
} 
}
.card{
    width:30rem;
}
.myLi{
   margin: 0 auto; 
   width: 50%; 
}
.myUl{
    list-style-type: none;
}
.myInput{
    margin: 0 auto; 
   width: 50%;  
}


